body{
    background-color: #F7F8FC;
    height:100%;
    font-family: Mulish;
}

.profile{
    outline: 1px solid #A4A6B3;
    outline-offset: 2px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 8px;
    background-image: url('../css/profile.png');
    background-size: cover;
    background-position: center;
}

.logo {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-right: 13px;
    background-color: #3751FF;
}

.navbar a {
    color:#A4A6B3;
    font-size: 16px;
}

.brand {
    color:#A4A6B3;
    font-size: 18px;
}

.menu-text{
    margin-left: 10px;
}

.nav li {
    margin-bottom: 25px;
}

.title{
    font-size:24px;
    font-family: Mulish;
    font-weight: 600;
    margin-top: 10px;
}

.top-card{
    width: 330px;
    height: 145px;
}

.card-outline{
    border: 1px solid #DFE0EB;
    border-radius: 8px;
    background-color: #ffffff;
}

.grey-left-outline{
    border-left: 1px solid #DFE0EB;
    background-color: #ffffff;
}

.grey-bottom-outline{
    border-bottom: 1px solid #DFE0EB;
    background-color: #ffffff;
}

.grey-header{
    color: #9FA2B4;
}


.graph {
    background-image: url(../css/graph.png);
    background-size: contain;
    /* background-color: #9FA2B4; */
    width: 800px;
    height: 480px;
}

.bottom-card{
    width: 690px;
    height: 400px;
}

.table {
    height: 240px;
}


.pink{
    background-color: pink;
}

.green{
    background-color: #29CC97;
}

.blue {
    background-color: blueviolet;
}

.yellow{
    background-color: #FEC400;
}

.grey {
    background-color: #F0F1F7;
    color: #9FA2B4;
}

input[type="radio"] {
    transform: scale(1.5); /* Scale the radio button to 1.5 times its original size */

}

.customer-radio input[type="radio"] {
    display: none;
}

.custom-radio .radio-btn {
  width: 20px;
  height: 20px;
  border: 5px solid #0DFF92;
  border-radius: 50%;
}