body{
    background-color: #F7F8FC;
    height:100%;
    font-family: Mulish;
}

h6 {
    font-family: Mulish;
}

.secondheader{
    font-size: 16px;
}


.profile{
    outline: 1px solid #A4A6B3;
    outline-offset: 2px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 8px;
    background-image: url('../css/profile.png');
    background-size: cover;
    background-position: center;
}

.logo {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-right: 13px;
    background-image: url('../css/logo.png');
    background-size: cover;
}

.navbar a {
    color:#A4A6B3;
    font-size: 16px;
}

.brand {
    color:#A4A6B3;
    font-size: 18px;
}

.menu-text{
    margin-left: 10px;
}

.nav li {
    margin-bottom: 25px;
}

.title{
    font-size:24px;
    font-family: Mulish;
    font-weight: 600;
    margin-top: 10px;
}

.top-card{
    width: 330px;
    height: 145px;
}

.card-outline{
    border: 1px solid #DFE0EB;
    border-radius: 8px;
    background-color: #ffffff;
}

.card-title{
    font-weight: 600;
}

.grey-left-outline{
    border-left: 1px solid #DFE0EB;
    background-color: #ffffff;
}

.grey-bottom-outline{
    border-bottom: 1px solid #DFE0EB;
    background-color: #ffffff;
}

.grey-header{
    color: #9FA2B4;
}


.graph {
    background-image: url(../css/graph.png);
    background-size: contain;
    width: 800px;
    height: 480px;
}

.bottom-card{
    width: 690px;
    height: 400px;
}

.table {
    height: 240px;
}


.yellow{
    background-color: #FEC400;
}

.grey {
    background-color: #F0F1F7;
    color: #9FA2B4;
}

input[type="radio"] {
    transform: scale(1.5); /* Scale the radio button to 1.5 times its original size */

}

.radio{
    margin-right: 10px;
}

.header-icons {
    margin-top: 13px;
}

.navbar-toggler{
    background-color: #A4A6B3;
}

.green{
    background-color: green;
}

.second-number{
    font-size: 30px;
    font-family: Mulish;
}

.dash {
    padding-left: 50px;
    padding-right: 50px;
}


@media (max-width: 375px){
    
    .top-card{
        margin-left: -40px;
    }

    #menu {
        position: relative;
        left: -250px;
        top: 40px;

    }

    .navbar{
        position: relative;
        top: -20px;
    }

    .header-icons {
        position: relative;
        right: -15px;
    }

    .title{
        position: relative;
        top: -9px;
    }
    
    .graph {
        margin-left: -70px;
        transform: scale(0.6);
    }


    .secondrow {
        display: flex;
        flex-direction: column;
    }

    .grey-left-outline {
        border-left: none;
        position: relative;
        left: -20px;
    }

    .bottom-card{
        margin-top: 10px;
    }


    .header{
        display: flex;
        flex-direction: column;
    }

    .days {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    }

    .h5mobile{
        text-align: center;
    }

    .dash{
        padding-left: -10px;
    }


}

@media (max-width: 600px){


    #menu {
        position: relative;
        left: -250px;
        top: 40px;

    }

    .navbar{
        position: relative;
        top: -20px;
    }

    .header-icons {
        position: relative;
        right: -15px;
    }

    .title{
        position: relative;
        top: -9px;
    }

    .graph {
        background-image: url(../css/graph.png);
        background-size: contain;
        width: 340px;
        height: 200px;
    }

    .secondrow {
        display: flex;
        flex-direction: column;
    }

    .grey-left-outline {
        border-left: none;
        position: relative;
        left: -20px;
    }

    .bottom-card{
        margin-top: 10px;
    }


    .header{
        display: flex;
        flex-direction: column;
    }

    .days {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    }

    .h5mobile{
        text-align: center;
    }

    .toprow{
        position: relative;
        left: 40px;
    }

}