body{
    background-color: #F7F8FC;
    height:100%;
    font-family: Mulish;
}

img{
    background-color: blue;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-right: 8px;
}

.navbar a {
    color:#A4A6B3;
    font-size: 16px;
}

.brand {
    color:#A4A6B3;
    font-size: 18px;
}

.menu-text{
    margin-left: 10px;
}

.nav li {
    margin-bottom: 25px;
}

.title{
    font-size:24px;
    font-family: Mulish;
    font-weight: 600;
    margin-top: 10px;
}

.top-card{
    width: 330px;
    height: 145px;
}

.card-outline{
    border: 1px solid #DFE0EB;
    border-radius: 8px;
    background-color: #ffffff;
}

.grey-header{
    color: #9FA2B4;
}


.pink{
    background-color: pink;
}

.green{
    background-color: green;
}